.input {
  text-align: center;
  align-content: center;
  vertical-align: middle;
  padding: 5px;
}

label {
  display: block;
  align-content: center;
  padding: 5px;
}

input {
  display: block;
  text-align: center;
  margin: 0 auto;
}