.input {
  text-align: center;
  align-content: center;
  vertical-align: middle;
  padding: 5px;
  width: 40%;
  margin: 0 auto;
}

.everything {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 50%;
}

body {
  background-color: whitesmoke;
}

button.btn {
  align-content: center;
  display: block;
  margin: 5px auto;
}

h5 {
  margin: 2.5px;
  /* font-family: Lato; */
}

/* .form-control {
  width: 50%;
  /* position: relative; */
  /* margin: auto;
} */

