.everything {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
} 

.input {
  text-align: center;
  align-content: center;
  vertical-align: middle;
  width: 190px;
  margin: 0 auto;  
}

body {
  background-color: whitesmoke;
}

button.btn {
  align-content: center;
  display: block;
  padding: auto;
  margin: 5px auto; 
}

h5 {
  margin: 2.5px;
  text-align: center;
}

input {
  text-align: center;
}

#spreadsheet-link {
  display: none;
}


