.everything {
  position: absolute;
  left: 50%;
  top: 50%;
  /* transform: translate(-50%, -50%); */
  width: 50%;
  height: 50%;
}

body {
  background-color:whitesmoke;
}

h5 {
  text-align: center;
}

button {
  align-content: center;
  display: block;
  margin: 0 auto;
}